<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle de Producto</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          type="text/css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
          type="text/css"></link>

    <!-- Tipografia -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- Estilos -->
    <link rel="stylesheet" th:href="@{/css/navmenu.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/standardbuttons.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/grid.css}" type="text/css"/>

</head>
<header>
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" th:href="@{/home}">
            <img th:src="@{/image/GreatStorageLogo.png}" width="30" height="30" class="d-inline-block align-top">
            &nbsp;&nbsp;GreatStorage
        </a>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/categorias}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">&nbsp;Categorias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/marcas}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">&nbsp;Marcas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/productos}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">&nbsp;Productos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/proveedores}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">&nbsp;Proveedores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ingresos}">&nbsp;Ingresos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuarios}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">&nbsp;Usuarios</a>
                </li>
            </ul>
            <form>
                <a class="btn btn-exit my-2 my-sm-0" th:href="@{/logout}">
                    <i class="fas fa-power-off"></i>
                </a>
            </form>
        </div>
    </nav>
</header>
<body>

<br>
<br>
<br>
<form th:action="@{/ingresos/detalle}" th:object="${ingreso}" method="get">
    <div class="card text-center w-50 mx-auto">
        <div class="card-header text-left">
            Detalle
        </div>
        <div class="card-body">
            <h5 class="card-title text-left">Detalle de Producto</h5>
            <br>
                <div class="form-row text-left col-md-12">
                    <div class="form-group col-md-4">
                        <label for="numerocomprobanteIngreso">N° Comprobante</label>
                        <input type="text" class="form-control" id="numerocomprobanteIngreso" th:field="*{numerocomprobanteIngreso}" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="tipocomprobante.nombreTipocomprobante">Tipo de Comprobante</label>
                        <input type="text" class="form-control" id="tipocomprobante.nombreTipocomprobante" th:field="*{tipocomprobante.nombreTipocomprobante}" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="fechaIngreso">Fecha de ingreso</label>
                        <input type="text" class="form-control" id="fechaIngreso" th:field="*{fechaIngreso}" readonly>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="producto.nombreProducto">Nombre producto</label>
                        <input type="text" class="form-control" id="producto.nombreProducto" th:field="*{producto.nombreProducto}" readonly>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="descripcionProducto">Descripción</label>
                        <textarea type="text" class="form-control" id="descripcionProducto" name="descripcionProducto" th:field="*{producto.descripcionProducto}" readonly></textarea>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="producto.categoria.nombreCategoria">Categoria</label>
                        <input type="text" class="form-control" id="producto.categoria.nombreCategoria" th:field="*{producto.categoria.nombreCategoria}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="producto.marca.nombreMarca">Marca</label>
                        <input type="text" class="form-control" id="producto.marca.nombreMarca" th:field="*{producto.marca.nombreMarca}" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="stock">Cantidad</label>
                        <input type="text" class="form-control" id="stock" th:field="*{stock}" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="precioCompra">Precio por unidad</label>
                        <input type="text" class="form-control" id="precioCompra" th:field="*{precioCompra}" readonly>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="total">Precio total</label>
                        <input type="text" class="form-control" id="total" th:field="*{total}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="proveedor.nombreProveedor">Proveedor</label>
                        <input type="text" class="form-control" id="proveedor.nombreProveedor" th:field="*{proveedor.nombreProveedor}" readonly>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="proveedor.telefonoProveedor">Teléfono</label>
                        <input type="text" class="form-control" id="proveedor.telefonoProveedor" th:field="*{proveedor.telefonoProveedor}" readonly>
                    </div>
                </div>
                
            <br>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col" class="text-center colheader-format text-white">ID</th>
                <th scope="col" class="text-center colheader-format text-white">Nombre Producto</th>
                <th scope="col" class="text-center colheader-format text-white">Descripcion Producto</th>
                <th scope="col" class="text-center colheader-format text-white">Categoria</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="Producto:${productos}">
                <td class="text-center align-middle" th:text="${Producto.idProducto}"></td>
                <td class="text-center align-middle" th:text="${Producto.nombreProducto}"></td>
                <td class="text-center align-middle" th:text="${Producto.descripcionProducto}"></td>
                <td class="text-center align-middle" th:text="${Producto.categoria.nombreCategoria}"></td>
            </tr>
            </tbody>
        </table>
        <div class="card-footer">
            <a class="btn btn-secondary btn-lg text-white" th:href="@{/ingresos}">Atrás</a>
        </div>
    </div>
</form>


<!-- FontAwesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" type="text/javascript"></script>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>